
body {
    background-color:lightgray ;

}
H5{

    font-family: Verdana;

  
}
#formulario{
   
    
    font-size: 20px;
    line-height: 1;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-right: 70px;
    margin-left: 70px;
}
#titulo{

    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: Consolas, sans-serif;
 
    font-weight: bold;
}

select {

  width: 25%;
  padding: 7px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  width: 25%;
  padding: 10px;
   border: none; /* Elimina el borde */
  outline: none;
  border-radius: 1px;
  margin: 8px 0;
  font-family: Consolas;
  box-sizing: border-box;

    
}
#conversional {

    visibility: hidden;
}
#pesocanal {

visibility: hidden;

}
#btn {

    visibility: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    background-color: #dc392d; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
#btn:hover{

    border-radius: 5px;
    background-color: #a52b22 ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
#leyendas {

    text-align: center;
    
}
footer{

    
}